*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.solo-contenedor {
    padding: 0 5rem;
}

img {
    width: 100%;
}

hr {
    border: 1px solid red;
    width: 4rem;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem auto;
}

.contenedor-logo {
    padding-left: 3rem;
}

.contenedor-contacto button {
    border: 1px solid red;
    background-color: white;
    padding: .5rem;
    width: 150px;
}

.contenedor-contacto {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.section-img-portada {
    background-image: linear-gradient(rgba(41, 24, 21, 0.5), rgba(41, 24, 21, 0.9)), url(./img/buffet-1.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-img-portada h1 {
    text-align: center;
    color: yellow;
    font-size: 4rem;
    text-shadow: 5px 3px 0 #000;
}

.section-quienes-somos {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contenido-con-imagen {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.texto-seccion-quienes-somos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-promocional {
    background-image: linear-gradient(rgba(63, 40, 36, 0.5), rgba(58, 37, 33, 0.9)), url(./img/food-table.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.section-promocional h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
}


.section-nuestros-servicios {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 3rem auto;
}

.contenido-imagenes-servicios {
    display: flex;
    gap: 2rem;
}

.contenido-imagenes-servicios article {
    border: 1px solid black;
}

.contenido-imagenes-servicios article img {
    width: 300px;
}

.contenido-imagenes-servicios article p {
    padding: 1rem;
}

.seccion-paquetes {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 3rem auto;
}

.contenedor-tarjeta-paquetes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.contenedor-tarjeta-paquetes article {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

.contenedor-tarjeta-paquetes article ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-tarjeta-paquetes article p {
    background-color: rgb(230, 226, 223);
}

.contenedor-tarjeta-paquetes article h3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjeta-paquetes article p {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjeta-paquetes article li {
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.contenedor-tarjeta-paquetes article ul li {
    border-top: 1px solid rgb(226, 216, 216);
    display: inline;
}

.contenedor-tarjeta-paquetes article i {
    color: green;
}

.seccion-contacto {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.seccion-contacto .texto-contacto {
    text-align: center;
}

.seccion-contacto form .contenedor-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.seccion-contacto form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.seccion-contacto form input,textarea {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 1px solid rgb(187, 187, 187);
}

.seccion-contacto button {
    border: none;
    background-color: rgb(36, 138, 36);
    padding: .5rem;
    width: 150px;
    color: white;
    border-radius: 5px;
}

.seccion-contacto form .item-contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer {
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 60% 40%;
}

footer .contenedor {
    border-bottom: 1px solid white;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

footer .contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}